<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/FamousBook.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Famous Book Edition</h2>
   <h3>By BookWorm</h3>
    <a href="/smoothies" class="btn">View about Author</a>
  </div>
</header>


<%- include('partials/footer'); -%>